{% extends 'learning_logs/base.html' %}
{% block content %}
 <p>Temat: {{ topic }}</p> 
 <p>Wpisy:</p>

 <a href="{% url 'new_entry' topic.id %}"> Dodaj nowy wpis</a>
 <a href="{% url 'new_topic' %}">Dodaj nowy temat</a>
 <ul> 
 {% for entry in entries %}

 <li>
 <p>{{ entry.date_added|date:'d M Y H:i' }}</p> 
 <p>{{ entry.text|linebreaks }}</p>

  <a href="{% url 'edit_entry' entry.id %}">Edytuj wpis</a>



  <form style='' method="POST" action="{% url 'delete_entry' entry.id %}">
        {% csrf_token %}
        <button id="delete" type="submit">Delete</button>

    </form>

 </li>
 {% empty %} 
 <li>
 Nie ma jeszcze żadnego wpisu.
 </li>
 {% endfor %}
 </ul>
{% endblock content %}